@import "minima";
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans%7CRoboto+Condensed:700%7CSlabo+27px');

body {font-family: "Nunito Sans", sans-serif;}
.site-title { font-family: "Roboto Condensed", sans-serif; font-size: 24px;text-transform: uppercase; color: #333;}
.site-title span { color:#ccc;}
h1,h2,h3,h4,h5,h6 { font-family: "Slabo 27px", serif;}
